@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  position: relative;
}

.content-wrapper {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
}

.bg-main {
  margin: 23px auto 0;
  width: 328px;
  height: 308px;
  background-image: url(./images/pattern-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-quote {
  margin: 32px auto 0;
  width: 60px;
  height: 50px;
  background-image: url(./images/pattern-quotes.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-curve {
  width: 100%;
  height: 73px;
  background-image: url(./images/pattern-curve.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

article {
  text-align: center;
  padding-top: 53px;
  padding-bottom: 62px;
  position: relative;
  z-index: 2;
  display: none;
}
article.active {
  display: block;
}
article .img-container {
  margin: auto;
  position: relative;
  width: 254px;
}
article img.avatar {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
}
article .text-container {
  margin-top: 74px;
  padding: 0 32px;
}
article h1 {
  color: var(--dark-blue);
  font-size: 0.57em;
  font-weight: 300;
  line-height: 1.31;
}
article h2 {
  margin-top: 20px;
  color: var(--dark-blue);
  font-size: 0.47em;
  font-weight: 700;
  letter-spacing: 0.01em;
}
article p {
  color: var(--grayish-blue);
  font-size: 0.47em;
  font-weight: 500;
}

.switcher {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 287px;
  left: calc(50% - 40px);
  display: flex;
  z-index: 3;
}
button {
  width: 50%;
  height: 100%;
  border: 0;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
button.btn-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
button.btn-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
button img {
  height: 14px;
  width: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* RESPONSIVE DESIGN */
@media (min-width: 1100px) {
  .bg-main {
    margin: 50px 0 0;
    width: 700px;
    height: 657px;
    position: absolute;
    left: 46.5%;
  }
  .bg-quote {
    margin: 0;
    width: 120px;
    height: 100px;
    position: absolute;
    top: 214px;
    left: 18%;
  }
  .bg-curve {
    height: 155px;
  }

  .content-wrapper {
    min-height: 800px;
  }

  main {
    width: 77.1%;
    margin: auto;
  }
  article {
    padding: 113px 0 0;
    position: relative;
  }
  article .img-container {
    position: absolute;
    left: 51%;
    z-index: 1;
    width: 543px;
  }
  article .text-container {
    margin-top: 165px;
    padding: 0;
    width: 57%;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  article .author {
    display: flex;
    align-items: center;
    margin-top: 36px;
  }
  article h1 {
    font-size: 1em;
    line-height: 1.4;
  }
  article h2 {
    margin-top: 0;
    font-size: 0.62em;
  }
  article p {
    margin-left: 8px;
    font-size: 0.63em;
  }

  .switcher {
    width: 114px;
    height: 56px;
    top: 624px;
    left: calc(55% + 3px);
  }
  button.btn-left {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  button.btn-right {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  button img {
    height: 18px;
  }

  .attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
